/* li {
    width: 330px;
    height: 75px;
    margin: 40%;
    text-align: left;
    padding: 25px;
    border: 2px;
  }
   */
   li {
    width: 330px;
    height: 75px;
    margin: 40%;
    text-align: left;
    border: 2px;
   }
 